@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

$titleFont: 'Cascadia Code', monospace;
$bodyFont: 'Montserrat', sans-serif;

$blueLight: #91f8ff;
$blueDark: #20695d;