@import './Variables';

@mixin Footer(
    $bgColor, $fgColor, $accentPrimary, $accentSecondary
) {
    #Footer {
        background-color: $bgColor;
        color: $fgColor;
        display: flex;
        flex-flow: row wrap;
        padding: 5%;
    
        .footerSection {
            padding: 5vw;
        }

        a {
            color: inherit;
            text-decoration: none;
            display: inline-block;
            border-bottom: 2px solid $blueLight;
            padding: 2px;
            margin: 0 5px;

            transition: border-bottom 0.5s;

            &:hover {
                border-bottom: 2px solid $blueDark;
            }
        }
    }
}