@import './Variables';

@mixin Footer(
    $bgColor, $fgColor, $accentPrimary, $accentSecondary
) {
    #Footer {
        background-color: $bgColor;
        color: $fgColor;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding: min(2.5vw, 20px);
    
        .footerSection {
            padding: 5vh 5vw;
            flex-grow: 1;
            background-color: darken($bgColor, 2%);
            border-radius: 10pt;
            margin: min(2.5vw, 20px);

            h4 {
                font-family: $titleFont;
                font-weight: 400;
            }

            &:first-child h4 {
                text-transform: uppercase;
            }
        }

        a {
            color: inherit;
            text-decoration: none;
            display: inline-block;
            border-bottom: 2px solid $blueLight;
            padding: 2px;
            font-family: $titleFont;

            transition: border-bottom 0.5s;

            &:hover {
                border-bottom: 2px solid $blueDark;
            }
        }
    }
}